body {
  margin: 0;
  font-family: sans-serif;
}
.hashtag-header {
  background-color: #065fd4;
  color: white;
  padding: 4rem;
  background-image: url(/images/people/background.png);
  background-size: 260px;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -160px;
}
.hashtag-header h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
}
.hashtag-header span {
  font-size: 2rem;
}

.hashtag-header img {
  width: 5rem;
  height: 5rem;
  border: 5px solid white;
  border-radius: 100%;
  vertical-align: middle;
}

img{
  margin-left: -1.6rem;
}

.images-container {
  display: inline-flex;
  justify-self: flex-end;
  flex-direction: row-reverse;
  vertical-align: middle;
  margin-left: 2rem;
}
